<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flow Over Stack</title>
    <base href="/" />
  </head>
  <body>

    <h1>Welcome to Flow Over Stack</h1>
    {{{body}}}
    
  </body>
</html>
